/**
 * Copyright 2014 - Mendix Technology BV
 *
 * Author: ...
 * Description: ... 
 */

/* Fix dijit styles */
.wgt-LazyReferenceSelector span { 
    outline: 0;
}

.wgt-LazyReferenceSelector .dijitInline.form-control {
    border: 1px solid #ccc;
    margin-left: -0.1em;
}

.wgt-LazyReferenceSelector .dijitDropDownButtonFocused.form-control {
    border: 1px solid #66AFE9;
}

.wgt-LazyReferenceSelector .dijitButtonNode {
    border: 0;
}
.wgt-LazyReferenceSelector .dijitArrowButtonChar {
	display: inline;
}

table.wgt-LazyReferenceSelector_dropdown.dijitMenu.dijitMenuTable {
    border: 1px solid gray;
}

.wgt-LazyReferenceSelector_dropdown .dijitMenuItemLabel {
    padding-left: .7em;
}

.wgt-LazyReferenceSelector_dropdown .dijitMenuItemHover,
.wgt-LazyReferenceSelector_dropdown .dijitMenuItemSelected {
    background-color: #1E90FF;
}

.wgt-LazyReferenceSelector .dijitArrowButtonChar {
    display: inline !important;
    position: relative;
    right: 25px;
    padding: 2px;
    background-color: #FFFFFF;
}

.wgt-LazyReferenceSelector .dijitInline .dijitButtonNode {
    display: inline;
}
 
.wgt-LazyReferenceSelector .dijitButtonText {
    width: 100%;
    overflow: hidden;
    text-align: left;
    position: relative;
}
